body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #d8b179, #e7c091);
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background: linear-gradient(90deg, #6f3c10, #a66b38);
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo-cari {
  color: #fff;
}
.logo-spot {
  color: #ffd27d;
}
