html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(145deg, #d8b486, #c79a6a);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
