/* =======================================
   LAYOUT UTAMA
======================================= */
.admin-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #f5f6fa;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* === COLLAPSE SIDEBAR === */
.admin-layout.collapsed .sidebar {
  width: 60px;
}

.logo-main{
  margin-right: 10px;
  margin-left: 50px;
}

.logo-text {
  font-family: "Baloo 2", cursive;
  margin-top: 10px;
  font-size: 28px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  transition: opacity 0.2s ease;
}

/* Hilangkan teks ketika collapse */
.admin-layout.collapsed .sidebar .logo-text{
    opacity: 0;
    display: none;
    pointer-events: none;
}
.admin-layout.collapsed .sidebar .menu-item span,
.admin-layout.collapsed .sidebar .logout span {
  opacity: 0;
  pointer-events: none;
  display: none;
}


.admin-layout.collapsed .menu {
  margin-top: 62px;
}
.admin-layout.collapsed .logout {
  padding: 12px 15px;
  
}

/* Main content ikut mengecil */
.admin-layout.collapsed .main-content {
  margin-left: 60px;
  width: calc(100% - 70px);
}

/* =======================================
   SIDEBAR
======================================= */
.sidebar {
  width: 240px;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  z-index: 100;
  overflow: hidden;
}

/* LOGO */
.logo-coffee {
display: inline-block;
width: 1em;
height: 1em;
object-fit: contain;
border-radius: 50%;
transform: translateY(1px);
}

.logo-section {
  text-align: center;
  margin-bottom: 25px;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #A0522D;
  transition: 0.2s ease;
}

/* TOGGLE BUTTON */
.toggle-btn {
  position: absolute;
  top: 32px;
  right: 0px;
  background: #0091ff;
  border: 2px solid #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.toggle-btn:hover {
  background: #2f3640;
}

/* =======================================
   MENU
======================================= */
.menu {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 20px;
  cursor: pointer;
  color: #000;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}

.menu-item:hover {
  background: #4e73df;
  color: #fff;
}

.menu-item.active {
  background: #3498db;
  color: #fff;
}

/* Logout */
.logout {
  margin-top: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  color: #ff7675;
  transition: 0.2s ease;
  border-radius: 6px;
}

.logout:hover {
  background: rgba(255, 99, 99, 0.2);
}

/* =======================================
   MAIN CONTENT
======================================= */
.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* =======================================
   TOP BAR
======================================= */
.top-bar-admin {
  height: 65px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.top-bar-left {
  font-size: 20px;
  font-weight: 600;
  color: #2d3436;
}

.top-bar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.notif-icon {
  cursor: pointer;
  transition: 0.2s ease;
}

.notif-icon:hover {
  color: #40739e;
}

/* PROFILE SECTION */
.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 15px;
  font-weight: 500;
  color: #2d3436;
}

/* =======================================
   BODY KONTEN
======================================= */
.content-body {
  padding: 25px;
  height: calc(100% - 65px);
  overflow-y: auto;
}
