.sa-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ecf0f1;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

.sa-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 260px); 
}

.sa-scrollable-content {
    flex: 1;
    overflow-y: auto;
}